*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #c3afaf;
    padding: 4rem 6rem;
}

h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.reset{
    padding: 1rem;
    color: #2d1515;
}