*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #c3afaf;
    padding: 4rem 6rem;
}

.game{
    width: 430px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    transform-style: preserve-3d;
    perspective: 500px;
    letter-spacing: .5rem;
}

h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.reset{
    padding: 1rem 2rem;
    color: #2d1515;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.reset:hover{
    cursor: pointer;
    background-color: #2d1515;
    color: #f1f1f1;
}

.card{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    font-size: 2.5rem;
    transition: .5s;
}
.card::after{
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.9;
    background-color: #816060;
    transition: .5s;
    transform: rotateY(0deg);
}
